h1,h3{
    text-align: center;
}
aside{
width: 30%;
padding-left: 15px;
margin-left: 15px;
float: right;
font-style: italic;

}
h1,h3{
    text-align: center;

}

article{
width: 800px;
padding: 25px;
margin-top: 1px;

}
/*------------header ---------*/
header{
    background-color: skyblue;
    background-image: linear-gradient( skyblue,white);
    
}
h2{
    color: purple;
}

header img{
  padding-left: 7px;
  width: 90px;
  height: 120px;
  margin-top: 6px;
}
#head1{
  color:red
  ;
}
/*------------navigation--------*/
nav{
    margin-top: 3em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:palevioletred;
  }
  
  li {
    float: left;
  }
  h2,h3{
    text-align: center;

}
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:black;
  }
  footer{
    
    background-color: skyblue;
    background-image: linear-gradient( skyblue,white);
    padding: 3px;
text-align: center;
width: 100%;
}
#sec1{
    padding-top: 1px;
    padding-left: 1cm;
}
  #image1{
    padding: 5px;
    margin-top: 5px;
  }